#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         "1.0.0.0\0"

#define VER_PRODUCTVERSION          VER_FILEVERSION
#define VER_PRODUCTVERSION_STR      "1.0\0"

1 VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   0X3FL
FILEFLAGS       0L
FILEOS          0X40004L
FILETYPE        0X1
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Kaleb Klein"
            VALUE "FileDescription",  "Clear GOG generated folders from Start Menu"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     "ClearGOG"
            VALUE "LegalCopyright",   "(c) 2020 Kaleb Klein"
            VALUE "OriginalFilename", "cleargog.exe"
            VALUE "ProductName",      "ClearGOG"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

1 ICON "gog.ico"
